.card {
  max-width: 600px;
  display: flex;
}

/* .card-image {
  width: 30%;
  padding: 0;
}

.card-image img {
  width: 100%;
} */

.card-btn {
  border: none;
  background-color: teal;
  color: #fff;
  padding: 10px 40px;
  border-radius: 20px;
  text-transform: uppercase;
  transition: all ease-in 0.3s;
}

.card-btn:hover {
  background-color: #004a4a;
}
